[2013-09-23 22:09] mgduda opened #12 "Broken build of periodic_hex"
The latest changes to the NetCDF logic in the Makefile for periodic_hex break the build, since NCLIB is not defined.

[2013-09-24 00:45] #12 closed, assigned to matthewhoffman

[2013-11-07 14:18] mark-petersen opened #16 "basin does not compile"
@toddringler , the basin code does not compile.  nmonth arguments remain in the subroutines outside of basin.

For example:
   subroutine write_netcdf_init( &
                               nCells, &
                               nEdges, &
                               nVertices, &
                               maxEdges, &
                               nVertLevels, &

[2013-11-07 15:14] #16 closed, assigned to toddringler

[2016-03-22 14:07] xylar opened #110 "Multiple vertical levels in paraview extraction tool"
It would be wonderful if there were a way of extracting not just one vertical level from a given field, but rather a comma-(or alternatively perhaps colon-)separated list of levels.  This would require including the index in some way in the name of the resulting file(s).

I realize the idea is that vertical levels not be treated specially, but rather than a hyperslab is taken that is time x nCells

[2016-04-03 19:10] #110 closed, assigned to douglasjacobsen

[2016-04-03 19:14] xylar opened #116 "MaskCreator has unhelpful error message when geojson file not found"
When the mask creator doesn't find a file, the error message is:

[code]

This suggested to me that there was a problem with the file, whereas it turned out I had merely typed the name of the file incorrectly.  It would be nice if there was a check for whether the file is present and an error message if the file is not found.

[2016-04-04 14:52] #116 closed, assigned to douglasjacobsen

[2016-07-13 19:21] stephenprice opened #132 "infinite values for "grid_area" when creating SCRIP file from land ice mesh with "sphere_radius" attribute = 0"
@douglasjacobsen and @matthewhoffman, I've come across a problem with some recent updates to the "create_SCRIP_file_from_MPAS_mesh.py" script.

The change on line 69 (line 70 in new code) here https://github.com/MPAS-Dev/MPAS-Tools/commit/ce11b3d1597ffbbbae844dd14f26563d47a081f3 causes division by zero with land ice meshes where the "sphere_radius" attribute is set to 0 (previously, sphere radius

[2016-10-01 11:01] xylar opened #140 "mesh conversion tools not giving full provenance"
The mesh conversion tools (cell culler, mesh converter and mask creator) don't appear to be including options with flags in their provenance information.  For example, the following call sequence from `init_step1.py` for `global_ocean` test cases:

[code]

results in the following histories:

[code]

and so on, all without the flags.

Presumably a second issue is that the provenance from the files

[2016-10-18 21:27] milenaveneziani opened #142 "MaskCreator assigns garbage string to constituentRegions if the feature property is undefined"
If a feature with undefined 'constituentRegions' property goes through the MaskCreator tool, the resulting netcdf file will have a weird string assigned to the variable constituentRegions.

[2016-10-18 21:42] milenaveneziani opened #143 "Improve MaskCreator when dealing with transects"
This issue is intended to scope out ideas on how to create transect masks that zig-zag less and instead follow more closely a line of constant latitude (or longitude). Therefore, the discussion will be more relevant for zonal or meridional transects.

Discussion started in issue MPAS-Dev/geometric_features#69.

[2016-10-21 21:11] pwolfram opened #145 "mpas_mask_creator presumes string length of 64"
The issue is at
`1719 if (!(tempDim = grid.add_dim("StrLen", 64))) return NC_ERR;`,
because this essentially truncates fields in input geojson files to 64 characters, e.g.,
`constituentsRegions` as discussed at https://github.com/MPAS-Dev/geometric_features/pull/74.

[2017-02-03 20:02] akturner opened #153 "Linter flags format statements incorrectly"
The MPAS tools delinter tool incorrectly flags format statements as needing _RKIND appended.

E.g. 10 format('(f3.4)') will cause the delinter to recommend _RKIND is appended to the 3.4

[2017-03-31 22:15] akturner opened #156 "Cant install the mesh conversion tools on Titan"
Does anyone have experience of installing the mesh conversion tools on Titan? I've been having trouble with the netCDF library linking. With the module cray/netcdf doesn't seem to have the netcdfccp.h file, Module netcdf/4.1.3 wont build with lots of errors like: "mpas_cell_culler.cpp:578: undefined reference to `NcError::NcError(NcError::Behavior)'". I built netcdf myself which allowed me to succ

[2017-04-10 18:13] akturner opened #159 "-m flag doesn't appear to work in cell culler"
I've been trying to add a mask file with the -m flag in the cell culler, but it doesn't seem to work. I have a mask file with contents:
pn1512828:extractor akt$ ncdump -h culling_mask_tmp.nc
netcdf culling_mask_tmp {
dimensions:
	nCells = 33070 ;
variables:
	int cullCell(nCells) ;
}
With cullCell a mixture of 1's and 0's.
With the cell culler I get:
MpasCellCuller.x seaice_QU_60km_polar_tmp.nc sea

[2017-04-10 19:45] #159 closed, assigned to nobody

[2017-04-12 20:27] #156 closed, assigned to nobody

[2017-04-13 22:17] akturner opened #161 "Problems installing on laptop - need specific conda version?"
Hi, I'm trying to install the tools on my laptop but when I run it I get the following issue:

pn1512828:MPAS-Analysis akt$ ./run_analysis.py config.setup
/Users/akt/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This

[2017-04-13 22:36] #161 closed, assigned to xylar, pwolfram, milenaveneziani

[2017-04-17 14:31] akturner opened #163 "Which version of xarray is the correct one?"
Hi, I'm trying to run the sea ice MPAS Tools on my laptop and am encountering the following problem:
pn1512828:MPAS-Analysis akt$ ./run_analysis.py config.setup
/Users/akt/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list.

[2017-04-17 14:53] #163 closed, assigned to xylar, pwolfram

[2017-05-04 13:03] milenaveneziani opened #164 "Something still not right in moc_southern_boundary_extractor"
Things seemed to work fine with lower resolution meshes, but I have used the Atlantic_MOC transect/region generated by the extractor with the 18to6, and the resulting MOC streamfunction is weird.
Here are results with the old transect:
![mocatlantic_gmpas-iaf_orrs18to6v3_years0011-0011](https://cloud.githubusercontent.com/assets/8237579/25704667/a6b7b176-3097-11e7-84db-b58264a26e07.png)

And here

[2017-08-22 12:24] mark-petersen opened #177 "paraview_vtk_field_extractor does not support indexing Time dimension"
On the paraview_vtk_field_extractor, when I use the argument
` -x "0001-12-01_00:00:00"`
to get only a certain time slice, I can never get it to work.  It always says
`Warning: 0001-12-01_00:00:00 not found in output.0001-01-01_00.00.00.nc`

This may be a case of me not knowing how to use this flag.  If that is the case, we should add a note on how to use it correctly in the help.

[2017-08-23 18:44] #177 closed, assigned to nobody

[2017-08-23 18:56] mark-petersen opened #179 "Track xtime in paraview_vtk_field_extractor.py output?"
As a wish list item, it would be very useful to include xtime in the VTK meta data somehow. I would really like to be able to grab that text string and insert it in a text box in paraview.  If that is not possible, I would even settle for a text file in the vtk directory to at least document the time in that file.

[2017-09-14 14:42] #142 closed, assigned to xylar

[2017-10-06 16:29] xylar opened #184 "MpasMaskCreator does not store transect names"
The mask creator tool stores the names of regions but not of transects.  This is inconvenient for referencing transects by name rather than by index (which is often arbitrary).

[2017-10-06 16:32] #179 closed, assigned to nobody

[2017-10-06 20:53] #184 closed, assigned to xylar

[2017-10-10 17:35] #145 closed, assigned to nobody

[2017-10-26 17:45] akturner opened #191 "User guide generator doesn't work for the sea ice core"
I've been trying to use the parse_xml_registry.py script to create the sea ice core user guide. However I get the following message:

parse_xml_registry.py -f ../../../MPAS/src/core_cice/Registry_processed.xml -d section_descriptions -p cice/section_descriptions
Traceback (most recent call last):
  File "./parse_xml_registry.py", line 136, in <module>
    registry_tree = ET.parse(registry_path)

[2017-10-26 18:03] #191 closed, assigned to nobody

[2017-11-08 18:25] akturner opened #196 "paraview_vtk_field_extractor seems to now require input files to have time dimension"
Previously the paraview vtk extractor worked with mesh files that didn't have time dimensions. However the latest version now seems to not work. See error message below.

 -- Using progress bars --
Traceback (most recent call last):                                                                                                       | ETA:  --:--:--
  File "MPAS-Tools/python_scripts/paraview_vtk_f

[2017-11-09 19:05] #196 closed, assigned to nobody

[2017-12-12 19:29] pwolfram opened #198 "paraview_vtk_field_extractor no longer works with just meshes (without xtime)"
The current version of the paraview_vtk_field_extractor has removed functionality to convert an existing mesh file into its polygonal equivalent, e.g., via

`../../python_scripts/paraview_vtk_field_extractor/paraview_vtk_field_extractor.py -f mesh.nc -v all`

and it returns an error of the form:

[code]

Previously, e.g., at commit `442cff5a147f6a1afb542b71c22fad0b56ac15ad`, this command worked an

[2017-12-13 07:53] #198 closed, assigned to xylar, pwolfram

[2018-10-18 20:10] MiCurry opened #227 "grid_rotate overwrites source file when writing to the same file"
When the source file and the destination file are the same, gird_rotate overwrites the source file. Upon running, `cp` will fail as seen below; however, immediately afterwards the source file will be opened with `nf_open()`

[code]

[The following code is culprit](https://github.com/MPAS-Dev/MPAS-Tools/blob/59302cf4c1d5bf0a6c49dc2623374c9b7ba747c4/mesh_tools/grid_rotate/grid_rotate.f90#L99):

[cod

[2018-12-01 23:37] xylar commented on #227
addressed by #226

[2018-12-01 23:37] #227 closed

[2018-12-01 23:42] xylar commented on #132
@stephenprice and @matthewhoffman, has this been resolved?

[2018-12-03 17:05] stephenprice commented on #132
Hi @xylar. This is an old one and I don't remember the details. @matthewhoffman, I can test this w/ a new mesh (but if you happen to know it's already fixed I won't waste me time).

[2018-12-03 17:06] xylar commented on #132
@stephenprice, yes, I was going through old issues on this repo just to make sure they're still relevant.

[2018-12-03 17:09] douglasjacobsen commented on #132
@xylar and @stephenprice This *should* still be an issue, for any older mesh that doesn't have sphere_radius defined, or if it's set to 0.

Probably just need some error handling here, and if sphere_radius is 0, just set it to 1. Or something like that...
https://github.com/MPAS-Dev/MPAS-Tools/blob/master/mesh_tools/create_SCRIP_files/create_SCRIP_file_from_MPAS_mesh.py#L54

[2018-12-03 21:01] stephenprice commented on #132
Thanks @douglasjacobsen. Newer (planar) meshes still appear to have sphere_radius set to 0, e.g. from a recent hi-res. Ant. mesh:

`// global attributes:`
`:on_a_sphere = "NO              " ;`
`:sphere_radius = 0. ;`

I'll see if I can add some error handling as you suggest.

[2018-12-06 20:37] #132 closed

[2019-01-07 21:17] caozd999 opened #233 "ImportError: No module named builtins when running paraview_vtk_field_extractor.py"
I got the ImportError message "No module named builtins" when running the following command
           python paraview_vtk_field_extractor.py -h

Does anyone know how to fix this issue?

[2019-01-07 22:01] xylar commented on #233
@caozd999, could you tell us more about you python environment?  Which version are you using? What packages are installed?

[2019-01-07 22:02] xylar commented on #233
I think the solution is that you need to install the `futures` package.

[2019-01-07 22:51] caozd999 commented on #233
Hi @xylar, I am running it on gr-fe, and the python version is 2.7.14. Cannot install the `future` package from my side.

[2019-01-07 22:56] xylar commented on #233
@caozd999, you won't be able to use the paraview extractor with the default python environment on LANL IC.  Try loading the `e3sm-unified` python environment.  You can source the file `/usr/projects/climate/SHARED_CLIMATE/anaconda_envs/load_latest_e3sm_unified.sh` (or `.csh` if you use csh or tcsh as your shell).

[2019-01-07 23:01] caozd999 commented on #233
@xylar Thank you Xylar! Problem solved by `module remove python` and then `module load e3sm-unified`.

[2019-01-08 09:00] xylar commented on #233
Glad it worked! However, I would strongly discourage you from using the e3sm-unified module, which is for an outdated version. The environment is only partially loaded by a module file, leading to potential problems. If the path I provided above to the file to be sourced doesn't work for some reason, let me know.

[2019-01-08 09:00] #233 closed

[2019-01-10 16:00] xylar commented on #233
Yeah, I deleted the module file.  Like I said, I don't think it's a good idea to use it.

[2019-01-10 16:05] caozd999 commented on #233
:'( OK. So now we do `source /usr/projects/climate/SHARED_CLIMATE/anaconda_envs/load_latest_e3sm_unified.sh` if we want to run the paraview_vtk_fied_extractor.py. Is that correct?

[2019-01-10 16:36] xylar commented on #233
Yes, there isn't a safe way to load conda environments with a module file (at least not that I'm aware of) for the most recent versions of conda.  As I said, there's a risk that environment variables don't get set and packages don't work.

[2019-01-14 08:30] xylar opened #234 "Support for python 3"
Python 2 is going away and we need to start supporting python 3 before we run into trouble.

[2019-01-16 20:22] xylar opened #235 "Support for files with Time dimension but without xtime variable in VTK extractor"
@bradyrx as requested a way to handle a file without an `xtime` or equivalent time variable.  Currently the VTK extractor can only pull out the first time slice of such a file with `--ignore_time`.

[2019-01-16 20:31] bradyrx commented on #235
The use case here would be concatenating a bunch of monthly output files into one `.nc` file, which has a `Time` dimension, but no `xtime` variable.

[2019-01-16 21:10] xylar commented on #235
@bradyrx, is there a reason not to concatinate the `xtime` dimension when you're concatinating the monthly files?  They should have `xtime_startMonthly` and `xtime_endMonthly` in the monthly files, and it would be best to preserve these if possible.

[2019-01-16 21:18] bradyrx commented on #235
@xylar, I'm working with trimmed down files of a long high-res run for space preservation. I realize now that when @maltrud and I decided on the variables to retain, we forgot to add `xtime` to the ncks command. So I guess this is a fringe use case and typically shouldn't be an issue.

[2019-01-16 21:30] xylar commented on #235
Okay, that's what I was assuming.  Obviously, it would be good to extract `xtime` in the future but we do seem to end up with files that are missing `xtime` from time to time so it makes sense to have a workaround even if it's kind of an edge case.

If MPAS had a proper, CF-compliant `time` dimension and coordinate, we wouldn't have this problem...

[2019-01-16 21:31] #235 closed

[2019-01-25 21:47] pwolfram opened #237 "periodic_hex fails on certain namelist configurations"
For example, a namelist of

[code]

fails when running
[code]
The same is also true with paraview.

However, periodic_hex works with a namelist of

[code]

This issue has been seen on my laptop as well as by Zhedong Cao.

[2019-01-25 21:51] pwolfram commented on #237
cc @caozd999

[2019-01-26 12:20] xylar commented on #237
#238 should address this in the ParaVeiw extractor.  I have no idea what's going wrong for you when you open this directly in ParaVeiw but it's likely unrelated to this bug.

[2019-01-30 22:35] mgduda opened #240 "Is the 'adds_coarse_to_fine_grid_preprocessing_interpolation' branch needed?"
I just noticed there is a branch, `adds_coarse_to_fine_grid_preprocessing_interpolation`, in the main `MPAS-Tools` repository that was last modified sometime in 2017. Is this branch still needed? If it has been merged or is no longer in use, could we delete it?

[2019-01-31 07:41] xylar commented on #240
@pwolfram, this seems like your style of branch naming and I believe the first few commits are yours.  Could you have pushed this to MPAS-Dev/MPAS-Tools by mistake?

[2019-01-31 15:47] pwolfram commented on #240
@xylar, see https://github.com/MPAS-Dev/MPAS-Tools/pull/152 and I've gisted to https://gist.github.com/0f2b83c3dbf492ef06512e95c8d11169

[2019-01-31 15:52] pwolfram commented on #240
I think we can close, please let me know if you disagree @xylar.

[2019-01-31 15:52] #240 closed

[2019-02-23 00:03] xylar opened #245 "Creating a conda-forge recipe for mesh-conversion tools, planar_hex, etc."
Having demonstrated in #243 that we could build the mesh conversion tools in a conda package, I would like to make a conda-forge recipe for those tools plus the basic mesh generation tools (periodic_quad and periodic_hex) so that COMPASS and other testing suites can be used more easily across a variety of machines and by a variety of users.

This would likely require pulling those tools out of thi

[2019-02-23 00:14] xylar commented on #245
Looking at `periodic_hex`, I think it would be a 1-2 day project to make a python version.  It would probably take another few days at most to pull in all the capabilities from `planar_grid_transformations` and make a better python package of the whole thing.  I think that's probably the way to go.

Maybe the way forward with this whole idea of a separate `MPAS-Mesh-Tools` repo is for me to start

[2019-02-25 19:05] xylar commented on #245
I had conversations with @mark-petersen and @matthewhoffman about this this morning. @matthewhoffman and I decided it would probably be okay to keep the tools here in `MPAS-Tools` and have a conda package that just pulls out a subset of those tools (e.g. mesh conversion tools and the new `planar_hex.py` python script, as well as some land-ice specific tools.

The main thing is that we would need t

[2019-03-21 12:36] xylar opened #251 "Use only pyevtk, not evtk in paraview extractor"
After working with the maintainers for pyevtk, we have settled on pyevtk as the "official" package name and evtk should be dropped.  Currently, the VTK extractor tries to load evtk and falls back to pyevtk.  Either this should be reversed or evkt should be dropped entirely.  This change should probably wait until the latest pyevtk is on all E3SM supported machines, following the next release of E3

[2019-04-29 19:37] #237 closed

[2019-06-02 19:14] xylar opened #258 "paraveiw extractor producing empty pvd files"
I haven't had time to investigate this further but it seems like either recent changes or the use of python 3 has led to the extractor producing empty pvd files.  This needs to be fixed!

[2019-06-02 19:15] #245 closed

[2019-06-18 22:55] pwolfram opened #262 "Planar hex produces ParaView incompatable mesh"
The following command produces a culled_mesh.nc that cannot be opened in paraview:

[code]

The error message in ParaView is

[code]

My assumption is that somehow we can produce a mesh that works in the MPAS codes but is incompatible with the specification used to produce the ParaView reader.

[2019-06-18 22:55] pwolfram commented on #262
cc @xylar, have you seen this issue (or can you at least reproduce this bug)?

[2019-06-19 07:49] xylar commented on #262
I can reproduce this using paraview 5.5.0.  I believe it's likely to be a ParaView issue rather than a `planar_hex` issue:
https://gitlab.kitware.com/paraview/paraview/issues/18036
It could be that the same error is coming up for other reasons, but I believe ParaView was never very good at handling periodic meshes.

[2019-06-19 08:34] xylar commented on #262
I attempted to create the same conditions with `periodic_hex` to try to eliminate the possibility that `planar_hex` introduced this problem.

With the default settings (500x500 10-km mesh), ParaView is able to open both the output from `periodic_hex` and an identically sized mesh from `planar_hex` (after I run it through the mesh converter or do some other step to add the `Time` dimension that Par

[2019-06-19 14:01] #258 closed

[2019-06-19 14:39] pwolfram commented on #262
@xylar, given that this is an outstanding issue I would argue we should leave this open until it is fixed.  It isn't 100% clear that this is their problem-- it may actually be a bug with `planar_hex`.

To go further, are we aware of or have any `planar_hexes` that open currently in ParaView?  If so, it would be good to share this mesh with them too.  We could also have a bug in `MpasCellCuller.x`

[2019-06-19 14:42] demarle commented on #262
There is a fix for this problem in ParaView 5.6.0. Can you try that version (or later) and let us know if the problem persists?

[2019-06-19 14:44] pwolfram commented on #262
@demarle, will try with [ParaView-5.6.1-MPI-OSX10.12-64bit.unsigned.dmg](https://www.paraview.org/paraview-downloads/download.php?submit=Download&version=v5.6&type=binary&os=macOS&downloadFile=ParaView-5.6.1-MPI-OSX10.12-64bit.unsigned.dmg) and report back-- thanks!

[2019-06-19 14:54] pwolfram commented on #262
@demarle and @xylar -- it is fixed via the new version 5.6.1 and the mesh opens!   Thank you!

[2019-06-19 14:54] #262 closed

[2019-06-19 15:37] xylar commented on #262
Thanks @demarle!

[2019-06-19 16:35] pwolfram opened #263 "COMPASS mesh generation clean up"
We need to make sure we have unique scripts, not scripts in multiple places, e.g.:

https://github.com/MPAS-Dev/MPAS-Tools/blob/master/mesh_tools/triangle_jigsaw_to_netcdf/inject_bathymetry.py

https://github.com/MPAS-Dev/MPAS-Model/blob/ocean/develop/testing_and_setup/compass/ocean/jigsaw_to_MPAS/inject_bathymetry.py

[2019-06-19 16:36] pwolfram commented on #263
cc @sbrus89

[2019-06-25 18:01] pwolfram opened #264 "Add a 3D paraview extractor option corresponding to layer thicknesses?"
In order to represent volumetric data in ParaView we need to restructure the data in such a way that volume rendering will work (e.g., topologically 3D vs 2D).

The reason to do this is so that a full 3D volume can be output in https://github.com/MPAS-Dev/MPAS-Tools/blob/master/visualization/paraview_vtk_field_extractor/paraview_vtk_field_extractor.py

@gregabram's code is at https://gist.github.c

[2019-06-25 18:22] mark-petersen commented on #264
There are a few options. We could put this script as-is in MPAS-QuickViz:
https://github.com/MPAS-Dev/MPAS-QuickViz/tree/master/ocean

Or, we could test it on a few meshes, make sure it is general, test in python-3, and put it in MPAS-Tools.

[2019-06-25 18:28] pwolfram commented on #264
@mark-petersen, I'm thinking, pending discussion with @xylar (I emailed him), that we would want to have this capability moved into the paraview extractor.  You are right-- minimally, we can merge to QuickViz, but I think we want something more robust in the long term-- hence this tread to open up the discussion.

[2019-06-25 21:02] xylar commented on #264
@pwolfram, I agree that this should be possible.  I can't quite remember if we're already telling the extractor enough in order for the water-tight bathymetry to work for it to also know how to construct a vertical coordinate.  My guess is not yet.

The extractor should work for 3D fields from all MPAS components that will use it, so I guess we need a way of specifying which field contains layer t

[2019-06-27 16:39] bradyrx commented on #264
@pwolfram , do you have any example visualizations of this? Trying to wrap my head around what this implementation would look like. Would it be helpful for passive/isopycnal LIGHT trajectories?

[2019-06-27 16:49] pwolfram commented on #264
@xylar, that is correct -- we will need another flag to specify something like `layerThickness` for use in the vertical coordinate.

@GregAbram has the examples for this code-- it is to get 3D Eulerian fields and it could be a very useful background field (e.g., volumetric rendered cloud) that particle trajectories and streamtubes could advect through.

[2019-11-17 17:23] xylar opened #276 "Fix docs version number"
https://github.com/MPAS-Dev/MPAS-Tools/blob/master/conda_package/docs/conf.py#L66

This should be the full 3 digit version number, no just the first 2, though the comment is somewhat deceptive.

[2020-01-27 22:47] bradyrx opened #281 "Visualize MPAS mesh in python"
I've been working on a method to visualize MPAS-O output on a static plot in python as an alternative to the more time-consuming route of rendering viz in ParaView. I'm looking for a way to faithfully represent the grid without regridding.

It seems like `datashader`/`holoviews`/`geoviews` is the way to go, but I'm having trouble getting it to work fully. I'm wondering if anyone has used this rout

[2020-01-27 22:48] bradyrx commented on #281
CC @xylar, @pwolfram

Also I can host these example files on a Google Bucket or something. This should be straightforward to assess with any arbitrary MPAS-O variable on any mesh.

[2020-01-27 23:11] xylar commented on #281
@bradyrx, I'd love to look at this more sometime soon but don't have time today.  For now, I figured I'd point you to some viz stuff I have for another context that might be helpful.  Here, I create a patch collection to reuse for many plots:
https://github.com/MPAS-Dev/MPAS-Model/blob/3e4d773acc4e4c76627124e1319e921dee8a908d/testing_and_setup/compass/ocean/isomip_plus/viz/plot.py#L667-L687
Here i

[2020-01-28 16:53] bradyrx commented on #281
Thanks @xylar for giving this some thought and your working solution here. I'll give that a try as a potential avenue, but it would be good for us to find some solutions with e.g. `holoviews` to add to user documentation. I'll try your solution when I have a moment, but need to focus on analysis for now.

Here's a consolidated notebook with my attempts and the example output pulled from Google Sto

[2020-01-28 17:20] bradyrx commented on #281
I've updated it with a working version. I had to drop `-1` partial cells. This still isn't exactly what I want but is getting in the right direction:

https://gist.github.com/bradyrx/fe329f47e9a85fb0adacefa113178b44

[2020-01-28 17:31] xylar commented on #281
@bradyrx, it looks like you're essentially plotting the dual mesh (with cell centers as the vertices of triangles), is that correct?  That's also what ParaView does but it drives me nuts for the reasons that I think you have found, too, that it leaves boundary gaps in the mesh that, in my view, shouldn't be there.  I'd personally only be interested in pursuing a viz approach on the native grid if

[2020-01-28 17:33] milenaveneziani commented on #281
just a quick note to say that I am following this and that it is great you are working on it @bradyrx.
I also do not like to tinker with paraview too much, so my simple solution at the moment is to just do a scatter plot..

[2020-01-28 17:40] bradyrx commented on #281
Correct -- I'm following this approach since `TriMesh` is the only unstructured mesh option I've found in plotting packages so far. But I agree that it's not perfect.

Agreed. In short, I want a static solution in python to plot the full polygons as we do in ParaView. The VTK extractor you wrote is awesome, but requires spending time to work with the GUI. In theory you could write some macros or u

[2020-01-28 17:45] milenaveneziani commented on #281
Yes, I agree that it would be great to use `cartopy`. Here is a zoom-in scatter plot I did recently for the Southern Ocean, using  `cartopy`. The only thing missing is the labeling of meridians and parallels, but that is something that is coming up in the next  released version of `cartopy`:

![salinitySH_depth0010_20200122 RedionHighTapering GMPAS-IAF oEC60to30v3 anvil_0005-01-01](https://user-im

[2020-01-28 17:57] bradyrx commented on #281
@milenaveneziani, that looks great. I think that's probably the best solution until we can find one that faithfully depicts the polygons. I had used scatter in the past for global checks, but hadn't tried zooming in. I imagine you just tweak the marker size until it doesn't overlap?

[2020-01-28 18:01] milenaveneziani commented on #281
exactly, and that's the problem. For one, every time you plot a different mesh, you have to re-do the tweaking. For two, the rendering isn't uniform, of course, and there is bound to be an overlap of cells/dots where resolution is higher.
So, just a temporary solution for sure.

[2020-01-28 18:58] bradyrx commented on #281
I spent a little bit of time with @xylar's patches approach:

[code]

<img width="438" alt="Screen Shot 2020-01-28 at 11 57 55 AM" src="https://user-images.githubusercontent.com/8881170/73295718-72e20800-41c5-11ea-9f55-80bf7cec6a08.png">

This looks like it's going down the right road, but it does take 2.5 minutes to render the patch collection. Perhaps it can be saved out and reloaded for the viz

[2020-01-28 19:00] xylar commented on #281
Okay, thanks for looking into it.  That does sound too slow to be useful.  I've only used it for idealized, small test cases.

[2020-01-28 19:05] milenaveneziani commented on #281
as @bradyrx says, we could save it though, right? Since it's only mesh dependent. 2.5min for the 30to10 doesn't sound like much to me if it's done only once.

[2020-01-28 19:07] bradyrx commented on #281
I'm not sure if there is a way to save out `matplotlib PatchCollections`. A quick search returned no meaningful results.

For the lat/lon stuff, I think one might need to just change this:
[code]

to this:
[code]

[2020-01-31 22:01] xylar commented on #281
@bradyrx, I'm going to give this some thought over the weekend.  I'll let you know what I come up with.

[2020-02-01 19:48] xylar commented on #281
@bradyrx, I played with this a bit more.  My ignorance of `datashader`, `holoviews` and`geoviews` knows no bounds, and I prefer typically to work outside of Jupyter notebooks because I'm usually designing viz to be reused from the command line.  But these packages seem really hard to use, especially with `bokeh`, outside of a notebook.

That being said, I had some success working from your Method

[2020-02-01 19:54] xylar commented on #281
@bradyrx, if you can take what I've done and figure out how to store a reusable trimesh (e.g. for plotting different points in time or different field) and also how to use this properly with `geoviews` projections, nice continent outlines, etc., I would be very keen to have that.

[2020-02-01 23:09] xylar commented on #281
I'm going to try another version that interpolates the given field between cell centers but still includes the triangles (with constant field value) that correspond to boundary edges.  This should potentially be more aesthetic and less computationally intensive but I think both versions would ideally be available.

[2020-02-02 16:43] bradyrx commented on #281
That looks great @xylar! Yes of course the key is to get this onto a map projection with `geoviews`. The `pyviz/pyviz` gitter is very active and focuses on this viz stack (which I agree is hard to work with as a new user). So I can play around with getting this onto a projection then ask them for guidance if stuck.

I have to focus the next two weeks on getting some plots/analysis ready for Ocean

[2020-02-02 19:02] xylar commented on #281
@bradyrx, good to know about `pyviz/pyviz`.  I'll check it out when I have time.

[2020-02-02 19:10] xylar commented on #281
It the meantime, I figured out a potential approach to viz that's smoother but still renders polygons according to the MPAS-Ocean mesh.  It's substantially more complex:

[code]

![image](https://user-images.githubusercontent.com/4179064/73613541-0182ca80-45b4-11ea-976a-4eba6ae6715d.png)

Some triangles are at the periodic boundary but they don't render because they have the wrong winding (a nice

[2020-02-05 18:56] xylar opened #283 "Add COMPASS metapackage"
Having a defined metapackage for the COMPASS (or at least COMPASS-Ocean) conda environment would be very helpful in keeping track of and updating the environment, including version numbers.

[2020-02-12 02:12] #276 closed

[2020-02-12 02:23] #251 closed

[2020-02-12 02:32] xylar commented on #263
@sbrus89, could you verify which of the following 2 directories contains the version of the following files that are actually used in compass?  I suspect it's the MPAS-Model version, but need you to let me know for sure.  I'll remove whichever is the redundant copy.

Directories:
* https://github.com/MPAS-Dev/MPAS-Model/tree/ocean/develop/testing_and_setup/compass/ocean/jigsaw_to_MPAS
* https://gi

[2020-02-12 02:32] #234 closed

[2020-02-12 02:33] xylar commented on #164
Addressed in #181

[2020-02-12 02:33] #164 closed

[2020-02-13 13:58] jamilgafur opened #289 "Y-periodicity broken in mesh_converter"
If you use the default planar_hex inside the init file it the boundary conditions work as intended (overflow to the next region as shown below)

![KPP_tracer1](https://user-images.githubusercontent.com/58782189/74442085-1ec65d00-4e2e-11ea-867a-3d73146505b9.gif)

However, when it is passed through the mesh_convertor, it seems to get caught in the region (as shown below)

![KPP_tracer1](https://user

[2020-02-13 14:00] jamilgafur commented on #289
would any of you have any recommendations on why this is the case?

@vanroekel @pwolfram @xylar

Thank you for your time

[2020-02-13 16:33] xylar commented on #289
@jamilgafur, could you provide some more detailed instructions on how to reproduce this issue?  Probably running your test case might be too much but at least the process you went through to generate each mesh.

[2020-02-13 16:45] jamilgafur commented on #289
The working test branch can be found [here](https://github.com/jamilgafur/MPAS-Model/tree/jamil_ocean_advection_test).

If you  navigate to the config_init file [here](https://github.com/jamilgafur/MPAS-Model/blob/jamil_ocean_advection_test/testing_and_setup/compass/ocean/horizontal_advection/planar/default/config_init.xml)

we have the following code snippet:
[code]

In order to get the code to r

[2020-02-13 19:17] xylar commented on #289
@jamilgafur, I'm trying out your test case.  I think you may be using a pretty old version of COMPASS that still points to a location for the mesh converter with the `mesh_converter` option.  Could you rebase your work onto `MPAS-Dev/MPAS-Model/ocean/develop` and make sure you are using a COMPASS conda environment that includes the mesh converter from the `mpas_tools` conda package?

See https://g

[2020-02-24 23:32] #263 closed

[2020-03-03 13:05] #283 closed

[2020-03-03 18:31] bradyrx commented on #281
I may not be able to look at this for a bit, but I want to keep it open so we can continue to think about it. I think @xylar got us a long way there. The next goal is to figure out how to actually get it on a projection with zooming/tick labeling, etc. I'm not sure how straight forward that would be though.

[2020-03-03 18:36] xylar commented on #281
Thanks for keeping this alive.

[2020-03-05 20:01] xylar commented on #289
@jamilgafur, I doubt it's going to be fixed, but we realized there were some remaining issues with the `x_period` and the `sphere_radius` in  the mesh conversion tools (including the mesh converter).  See #296.  I doubt this will fix the issue you found but it would be worth using `compass_0.1.1` as soon as I make it and re-testing your test case.  I will keep you posted.

[2020-03-17 16:10] bradyrx commented on #281
I just came across this due to some activity at `MPAS-QuickViz`: https://github.com/MPAS-Dev/MPAS-QuickViz/blob/master/ocean/plotting_library/simple_plotting.py.  `plot_poly` looks like a similar approach to what we're doing here with patches, but more concise. Are you familiar with this @xylar? Any thoughts on this @pwolfram?

There's no docstring at all so I'm a little lost as to what is suppose

[2020-03-17 16:14] pwolfram commented on #281
It is for point-based output.  We have other scripts that we've used for patch-based visualization in python, but largely I'm using ParaView these days for that type of output and then having specific diagnostics produce plots.

[2020-03-17 16:34] bradyrx commented on #281
@pwolfram, I think the key here is to be able to interactively make visualizations of the native mesh through python. I.e. we don't want to regrid to make `pcolor`/`contour` plots with `matplotlib`. And while paraview is super useful, it takes a lot longer to polish up a nice figure. It's tough for exploratory work.

[2020-03-24 18:39] pwolfram opened #305 "Addition of ipython to compass environment"
@xylar, happy too add a PR to include `ipython` in the compass environment: https://github.com/MPAS-Dev/MPAS-Tools/blob/master/compass/meta.yaml#L32

This will help with development.  May also want to consider including juypter too to get broader use.

[2020-03-24 19:55] xylar commented on #305
@pwolfram, I don't mind adding `ipython` and `jupyter` to the `compass` environment.  In general, let's try to limit the environment to tools directly needed to run the scripts in COMPASS, rather than things that would be convenient to have while developing COMPASS.

In my view, this isn't meant to be a catch-all environment like E3SM-Unified and I don't want it to become part of workflows outside

[2020-03-24 20:23] pwolfram commented on #305
I agree, just wanted some type of easy to access way to diagnose bugs in compass based on capabilities needed for scripts in compass.

Should I add it to that file or is there a better way to proceed?

[2020-03-24 20:38] xylar commented on #305
This issue is fine.  I'll include it in #303 later this week.

[2020-04-09 20:07] #305 closed

[2020-05-29 17:42] xylar opened #316 "inject_meshDensity slow and memory intensive"
Interpolation of cell width to the MPAS mesh is currently performed with:
[code]
I have never found `scipy` interpolators to be very good for the types of problems we work on.  It would likely be better to switch to using `pyremap` for this, particularly if we can reliably use MPI to generate the mapping files.

[2020-06-10 12:22] mark-petersen opened #317 "paraview_vtk_field_extractor produces extra characters after xtime"
I’m using e3sm_unified_1.3.0 on cori, paraview_vtk_field_extractor.py. In the file
`vtk_output/time_series/fieldsOnCells.0.vtp`
line 5 is:
[code]
The `^@` are some crazy characters vim doesn’t understand. I can delete those by hand, or use   `-x none`. But we want to avoid the creation of the `^@` characters.

This results in paraview producing an error about invalid xml file format, and not able

[2020-06-11 06:04] xylar commented on #317
closed via #318

[2020-06-11 12:54] #317 closed

[2020-06-16 18:41] pwolfram commented on #317
Thanks  @xylar  and @mark-petersen, had this issue myself recently.

[2020-06-16 19:54] xylar commented on #317
These same issues are wreaking havoc in MPAS-Analysis.  My project for the evening.  Stupid PIO2!

[2020-07-03 14:19] xylar commented on #281
I'm planning to work on this again over the weekend.  I've been working on https://github.com/MPAS-Dev/MPAS-Analysis/issues/586 and realized that I basically need to create a set of triangles that would be needed for this viz in order to do a proper job at transects on the MPAS-Ocean grid, too.

[2020-07-09 16:19] xylar opened #321 "Improve the MPAS mask creator"
The mask creator is not serving our needs very well.  It has the following issues (please add if you have others):
* It is slow, and becomes significantly more so the more complex the geojson geometry even for low resolution MPAS meshes
* It is serial, so it wastes most processors on a node
* It is written in C++, which few in the group can modify and even fewer wish to get their hands dirty with

[2020-07-09 16:21] xylar commented on #321
My proposal would be a python-based mask creator that used `xarray` and `dask` to get parallelism and `shapely` to detect intersections.  I have done this already for cells (but not edges and vertices) in MPAS-Analysis.  It is inefficient on a single processor but works well on a full node.

[2020-07-13 16:09] mark-petersen opened #323 "paraview_vtk_field_extractor not working for one vertical layer"
We are dusting off the shallow water core, and tried to use paraview_vtk_field_extractor on MPAS output files where nVertLevels is 1. It can make static files, but does not make time dependent files.

[2020-07-13 16:11] xylar commented on #323
@mark-petersen, can you point me to an example file?  I can pull out the top vertical level of a file I have but having your example might be better.

[2020-07-13 16:12] mark-petersen commented on #323
Here are the exact commands:
[code]
If I hit enter for the nVertLevel dimension, it simply writes nothing. It should write out the variable 'h'
[code]

[2020-07-13 16:14] mark-petersen commented on #323
If I specify nVertLevels with a -d flag, it dies.
[code]
[code]

[2020-07-13 16:21] xylar commented on #323
@mark-petersen, you need
[code]
with an equals sign.

[2020-07-13 16:26] xylar commented on #323
The only problem I'm seeing is that this is with 0000 as the start year, which python's `dateime` doesn't support.  There is no such year.

[2020-07-13 16:28] mark-petersen commented on #323
OK. That is just set in the namelist. I'll try it again.

[2020-07-13 17:05] mark-petersen commented on #323
Yes, when I change the namelist to
[code]
from year 0 to 1, and rerun, then everything works. The single layer was a red herring. Thanks @xylar!

[2020-07-13 17:05] #323 closed

[2020-07-20 21:50] matthewhoffman opened #325 "VTK files generated by paraview_vtk_field_extractor will not load in Paraview version 5.8.0"
When using paraview_vtk_field_extractor.py  to generate VTK files from MPAS files, an error occurs when trying to load the resulting VTK files in Paraview version 5.8.0:
`Cannot read cell data from Polys. Offsets and connectivity arrays must be the same type.`
The same file loads without incident in Paraview version 5.6.0 or 5.4.1.

[2020-07-21 08:54] xylar opened #327 "date annotation macro no longer works in Paraview 5.8.0"
First, it seems like Paraview isn't picking up the "timestep" attribute correctly (it starts at 0 even when the time is 500).  Second, there is an issue with the new name of the data structure expected by the annotation filter.

[2020-07-23 20:46] #325 closed

[2020-07-23 20:46] #327 closed

[2020-09-04 07:15] xylar commented on #316
Fixed in #344

[2020-09-04 07:15] #316 closed

[2020-09-23 08:31] xylar opened #350 "MPAS cell culler outputs incorrect mesh_spec"
The MPAS cell culler writes out the `mesh_spec` attribute as a double instead of a string.  It converts the ascii character `1` into its numerical value (49) and exports this as a double.  Then, subsequent runs of `ocean_model` (or presumably other MPAS components convert this to `0.0`, perhaps because it is not recognized.

The mask creator and mesh converter correctly specify `mesh_spec` as a st

[2020-09-26 17:17] #350 closed

[2020-12-27 17:53] xylar opened #384 "Add logging to build_spherical_mesh"
Without support for logging, the output always goes to stdout instead of log files.

[2021-01-01 21:33] xylar commented on #384
closed by #385

[2021-01-01 21:33] #384 closed

[2021-01-11 22:27] sterlingbaldwin opened #389 "Crash while running ocean_add_depth"
I think there's an inverted if statement causing an issue in the `ocean_add_depth` script. Specifically [I think this](https://github.com/MPAS-Dev/MPAS-Tools/blob/master/conda_package/mpas_tools/ocean/depth.py#L114) should read `if coordFileName is None:` and not `if coordFileName is not None:`

[code]

[2021-01-12 10:53] #389 closed

[2021-02-15 06:50] zemega opened #395 "Suggestion. Use tools name instead of namelist.input."
Hi. I would like to suggest the usage of the tool's name instead of common namelist.input. I see that under Mesh Tools, each grid_rotate, periodic_quad, and periodic_hex use namelist.input as the namelist file. I'm suggesting for them to use namelist.grid_rotate, namelist.periodic_quad, and namelist.periodic_hex instead.

For example, in a workflow, that may call for at least periodic_hex and peri

[2021-02-15 08:43] xylar commented on #395
@mgduda, I think you may be the only MPAS developer still using these tools, is that correct?

@zemega, I think most of the MPAS developers are using the [python-based tools](http://mpas-dev.github.io/MPAS-Tools/stable/mesh_creation.html), which do not have namelist files.  However, we have not created python version of periodic quad or grid_rotate, since our workflows don't involve these tools, s

[2021-02-15 09:07] zemega commented on #395
@xylar, I'm just learning how to use MPAS. Based on https://www2.mmm.ucar.edu/projects/mpas/tutorial/Boulder2019/index.html tutorial page, it seems the 2019 tutorial is pointing towards old tools and programs?

[2021-02-15 13:52] xylar commented on #395
@zemega, thanks for the context.  It does sound like you're using the right tools, then.  I'll let @mgduda respond if there are plans to enhance or modify the tools as you suggest.

[2021-03-27 13:27] xylar commented on #143
This is partly addressed by #399.  That PR does much better intersection of transects and cells without any zig-zagging.

What is not handled by #399 is `edgeSign` so I'm leaving this open until that gets added.

[2021-03-27 13:35] #321 closed

[2021-04-05 11:12] xylar commented on #143
Addressed by #404

[2021-04-05 11:12] #143 closed

[2021-04-13 16:15] xylar commented on #289
@qingli411, I think this is the same issue you mentioned to me in email.

I don't think we have a good solution for it other than *not* running the mesh through the mesh converter, which does seem to work at least in cases we've tried.

[2021-04-13 16:15] xylar commented on #289
We would really appreciate a fix for this but we haven't had time to figure out the cause, let alone fix it.

[2021-04-13 16:24] qingli411 commented on #289
Thanks, @xylar! OK, now I remember it...

[2021-04-16 17:32] milenaveneziani opened #413 "Error on vertex mask when creating transect masks with new tool"
I started using `compute_mpas_region_masks` and `compute_mpas_transect_masks` today, with my most recent mpas-analysis conda environment on anvil, and while the region_mask tool seems to work fine, I get the following error when running the transect_masks tool:
[code]

I am not sure if this has something to do with my geojson file or something else.
Here is the full command I issued:
`compute_mpas

[2021-04-17 07:53] #413 closed

[2021-04-20 11:33] xylar opened #415 "Switch signed distance functions from rasterio to inpoly"
The `rasterio` package is very complicated, with a lot of dependencies.  It is unnecessarily complicated for what we need it for, making a mask from some polygons.  @dengwirda has written a much simpler and likely equally (or perhaps more) performant tool, [inpoly](https://github.com/dengwirda/inpoly-python), that we should use instead.

This would likely resolve some dependency problems that `ras

[2021-04-20 11:34] xylar commented on #415
`inpoly` may also be useful in speeding up other mask creation operations in `mpas_tools`.

[2021-04-20 14:39] dengwirda commented on #415
@xylar, just confirming that (at least with standard `cpython`) the `inpoly` conda package looks to be correctly delegating to the fast `cython` kernel, so all should be ready to go here.

[2021-05-10 21:41] sbrus89 opened #423 "Script to append MPAS mesh information"
@xylar, I recently wrote a really simple script that appends MPAS mesh variables from one file to another (e.g.,`input.nc` to `output.nc`) using `ncks`. I needed it to be able to easily import a MPAS-O output file (that didn't contain mesh information) into paraview. I thought I'd ask if a) you think this is a useful script to commit somewhere and b) if you think MPAS-Tools is the right place. May

[2021-05-10 21:47] xylar commented on #423
Yes, MPAS-Tools is the right place for such a script.

I don't personally need that because I always use the [paraview_vtk_extractor](http://mpas-dev.github.io/MPAS-Tools/stable/visualization.html#paraview-vtk-extractor) tool, which can point separately to an input and a mesh file.  I don't like the way Paraview displays MPAS data by default.  But it certainly could be that others could use such a

[2021-07-15 10:08] xylar commented on #415
This was done in https://github.com/MPAS-Dev/MPAS-Tools/pull/420

[2021-07-15 10:08] #415 closed

[2021-08-23 14:18] xylar commented on #289
@matthewhoffman, @alicebarthel indicated to me that you aren't aware of this long-standing issue with the mesh converter and periodic meshes.  Please take a look and let me know if you have an interest in investigating this.  It's been on my to-do list forever.

[2021-08-23 14:53] matthewhoffman commented on #289
@xylar , thanks for directing me to this.  I had not seen it (or did and then forgot).  That obviously changes a lot of the suggestions I told @alicebarthel when we talked about the issues she was seeing.  I'm interested in looking at this, but I'm not sure how soon I might get to it.

[2021-08-23 14:56] matthewhoffman commented on #289
@xylar , do you think this fix may be as simple as changing the data type to double for the other attributes as in #296 ?  Or is that not clear yet?

[2021-08-23 16:51] xylar commented on #289
I looked at https://github.com/MPAS-Dev/MPAS-Tools/pull/296 again and it makes clear that it was at least intended to take care of remaining variables that were being read with an incorrect type in the converter.  The original PR that missed some variables was https://github.com/MPAS-Dev/MPAS-Tools/pull/279.  So I don't think there's any indication that these type issues are related to this issue,

[2021-09-22 15:39] xylar opened #441 "drop (`py`)`flann` from conda package"
It seems that the `flann` package is not being maintained.  The last commits were in 2019: https://github.com/flann-lib/flann/commits/master
Web site links are broken.

This lack of support is likely to manifest itself in an inability to keep `mpas_tools` updated with the latest conda-forge libraries, which will negatively affect E3SM-Unified as well.  The current problem is with: https://github.c

[2021-09-22 15:40] xylar commented on #441
@dengwirda and @sbrus89, you are the most likely candidates to help me find a suitable alternative.  Any thoughts?

[2021-09-22 15:42] xylar commented on #441
@sbrus89, you had implemented the `KDTree` from `scipy` as an alternative:
https://github.com/MPAS-Dev/MPAS-Tools/blob/ac85e45a1c128f89fac4e4e226b065a176de3d6c/conda_package/mpas_tools/ocean/coastal_tools.py#L671-L672
But you made `flann` the default.  Do you recall why?  Was the performance better?

[2021-09-22 15:48] sbrus89 commented on #441
@xylar, yes, the `scipy`  `KDTree` is also implemented. I ended up using `flann` because the performance was so much better.

[2021-09-22 15:48] dengwirda commented on #441
@xylar, I've had reasonable success using `spatial.cKDTree` (I believe it's a compiled version of `KDTree`) in a [remapping context](https://github.com/dengwirda/rtopo-dem/blob/4b44fa45d35832ec83cc09d1ed0f381a1581b5c4/dem_remap.py#L204) --- maybe this could be worth a try? It's possible to set up to be threaded, so has scaled okay for me so far.

[2021-09-22 15:52] xylar commented on #441
Thanks to both of you.  Here is another conversation that @dengwirda and I had earlier that is also relevant: https://github.com/MPAS-Dev/MPAS-Tools/pull/359

[2021-09-22 15:54] xylar commented on #441
I will work on an branch that moves to `spatial.cKDTree` and we can see how that goes.  It still might be worth having @dengwirda's alternative that uses geodesic distance, but that's not related to the immediate concern.

[2021-09-22 16:07] sbrus89 commented on #441
Seems like `spatial.cKDTree` is the way to go based on #359. I agree that we should move to geodesic distance, if possible.

[2021-09-22 16:48] xylar commented on #441
From the scipy documentation:

The current version of `scipy` on conda-forge is 1.7.1, so I think we should just use `KDTree` as recommended.

[2021-09-22 18:46] sbrus89 commented on #441
That's good to know.

[2022-03-06 16:15] xylar opened #454 "Replace calls to `pyproj.transfortm()`"
When calling `set_lat_lon_fields_in_planar_grid.py`, I'm seeing:
[code]
I haven't looked into this too much but it seems like something needs to be updated before this starts breaking.
As the warning says, maybe https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1 is a good place to start.

[2022-03-06 16:15] xylar commented on #454
@hollyhan, @matthewhoffman and @trhille, could you see about fixing this so I can include a fix in the next MPAS-Tools release?

[2022-04-05 02:37] hollyhan commented on #454
@xylar, sorry for the delayed response!
I've updated the code `set_lat_lon_fields_in_planar_grid.py` in the newest commit here: f5a3a9e87360c64c2c76ca6c163f529471b774d4.

Running the script before the fix shows deprecation warning as you've seen:

[code]

After the fix, the deprecation warning disappears, and calculated latCell min/max and lonCell min/max values are the same as before:

[code]

I'

[2022-04-05 07:10] xylar commented on #454
Sounds good.  I guess you will rebase and reopen #458 once #455 goes in?

[2022-04-05 16:12] hollyhan commented on #454
Due to some technical issues, I'm not able to reopen this PR after rebasing the branch to `origin/master`.  Instead, I've opened a new PR on this: https://github.com/MPAS-Dev/MPAS-Tools/pull/459.

[2022-04-12 18:57] matthewhoffman commented on #454
Closed by  #459

[2022-04-12 18:57] #454 closed

[2022-05-23 13:31] xtian15 opened #465 "large variable/file support in MpasMeshConverter.x"
I recently used jigsaw to generate a mesh of 10-30 million cells. When trying to write them out at netcdf formats using MpasMeshConverter.x, the job was terminated due to size limits imposed by netcdf referenced by the executable. In this case, is there anything that can be done to lift this limit inside the MpasMeshConverter.x? Thanks!

[2022-05-24 01:54] xylar commented on #465
@xtian15, this is a big issue, I agree.  I've run into this as well.

The problem is that the mesh conversion tools were build with the legacy NetCDF  c++ library that hasn't gotten any further attention.  The syntax for the "proper" NetCDF c++ library is **totally** different and would require a significant rewrite of the tools that we don't have staff time for, at least not a LANL.

[2022-05-24 01:55] xylar commented on #465
@mgduda, is this anything you guys at NCAR have resources to work on?

[2022-05-24 02:02] xtian15 commented on #465
1. Any plans to remedy this limitation in the near future?
2. Is there any workaround when you encountered this issue?
Thanks!

[2022-05-24 02:20] xylar commented on #465
I'm not aware of a workaround.  I ended abandoning a large MPAS-Ocean mesh I was trying to work on because of this.

There is also not any concrete plan to address this from the LANL side.  Let's see what @mgduda has to say.

[2022-09-07 22:05] xylar opened #473 "`$$` getting written as `$` in output config file"
It is not possible to use the output config file (the one in `logs` or the complete config file in `html`) as an input config file because certain `$$` in strings get written out instead as `$`.  Then, on reading these back in, they get interpreted as references to other config options.

We need to figure out a way to output `$` as `$$`.  This may need to happen in MPAS-Tools, rather than here.

T

[2022-09-08 17:42] #473 closed